@media screen and (min-height: 720px) {
  .block {
    max-height: 700px;
    overflow-y: auto;
  }
}

@media screen and (min-height: 500px) and (max-height: 720px) {
  .block {
    max-height: 500px;
    overflow-y: auto;
  }
}
.item {
  cursor: pointer;
}
.item:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.active {
  color: #007bff;
}
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  height: 2px;
  background-color: rgba(0, 123, 255, 0.5);
  border-radius: 2px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-resizer {
  background-color: transparent;
}
