.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25px;
  margin: auto;
  text-align: center;
}
.icon_right {
  flex-direction: row;
  justify-content: center;
}
.icon_left {
  // margin-right: 1em;
  // margin-left: 0.5em;
  margin: 10px auto;
}
.sidebar {
  display: grid;
  grid-template-columns: 7% 87% 5%;
  grid-template-rows: 20% 53% 25%;
  gap: 1px 1px;
  grid-template-areas: 'sidebar__container_top sidebar__container_top sidebar__container_top' 'sidebar__container_centerLeft sidebar__container_center sidebar__container_centerRight' 'sidebar__container_down sidebar__container_down sidebar__container_down';
}

.sidebar__container_top {
  grid-area: sidebar__container_top;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sidebar__container_centerLeft {
  grid-area: sidebar__container_centerLeft;
}
.sidebar__container_center {
  grid-area: sidebar__container_center;
  font-size: 0.8em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sidebar__container_centerRight {
  grid-area: sidebar__container_centerRight;
  flex-direction: row;
  justify-content: center;
}
.sidebar__container_down {
  grid-area: sidebar__container_down;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sidebar__date_green {
  color: var(--success);
}
.bar__progress {
  width: 100%;
  height: 5px;
  padding: 1px;
  background-color: transparent;
}
.bar__date {
  display: flex;
  // position: absolute;
  color: var(--info);
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.7em;
  bottom: 1px;
}
.bar__date_left {
  // right: 0;
}
.bar__date_right {
  // left: 0;
}
.item {
  color: var(--info);
  padding: 0;
}

.item:hover {
  // background-color: rgba(0, 0, 0, 0.02);
  // color: #17a2b8;
  text-decoration: none;
}

.item__body {
  font-size: 0.8em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.item__id {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1em;
}
.item__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.item__text_span {
  text-align: left;
}
.active {
  color: #17a2b8;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  height: 2px;
  background-color: rgba(0, 123, 255, 0.5);
  border-radius: 2px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-resizer {
  background-color: transparent;
}
