.comment__header {
  cursor: pointer;
}
pre {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
  'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1em;
}
.info {
  font-size: .9em;

  padding: 0;
}
.info > table td:first-child {
  width: 50px;

  text-align: right;
}
.info > a, .info > span {
  color: #6c757d;
}
.textIncident {
  padding: 0 1em;

  white-space: pre-wrap;
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;

  -ms-hyphens: auto;
}
.table, .table pre {
  font-size: .9em;

  margin: 0;
}
@media screen and (min-height: 720px) {
  .window {
    overflow-y: auto;

    max-height: 650px;
  }
}

@media screen and (min-height: 500px) and (max-height: 720px) {
  .window {
    overflow-y: auto;

    max-height: 450px;
  }
}
