.title {
  height: 30px;
  margin-bottom: 0px;
}
.input {
  height: 32px;
  line-height: 30px;
  padding: 0px 10px;
}
.group {
  width: 100%;
  margin-bottom: 5px;
}
.void {
  height: 30px;
  margin-bottom: 0px;
}
