.button {
  cursor: pointer;
}
.customOverlay {
  z-index: 100000;
}
.overlay {
  background: rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}
