.logo {
  width: 300px;
  cursor: pointer;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav__button {
  margin-right: 0.2em;
}
.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.avatar {
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.avatar__img {
  height: 35px;
}
.info {
  position: relative;
}
.info__badge {
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 8px;
}
