.listGroup {
  height: 600px;
  overflow: scroll;
}
.overlay {
  background-color: rgba(100, 100, 100, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
}
.focus {
  z-index: 1010;
}
.borderLeft {
  border-left-color: transparent;
  border-top: none;
}
.borderLeft:hover {
  color: #17a2b8;
}
.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1;
  margin-top: 10px;
  overflow: hidden;
  display: contents;
}

.tags li {
  float: left;
}

.tag {
  font-size: 0.6em;
  background-color: crimson;
  text-transform: lowercase;
  border-radius: 3px 0 0 3px;
  color: #fff;
  display: inline-block;
  line-height: 15px;
  padding: 0 14px 0 12px;
  position: relative;
  margin: 0 2px 2px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #e9ebec;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.5);
  content: '';
  height: 6px;
  left: 3px;
  position: absolute;
  width: 6px;
  top: 5px;
}

.tag::after {
  background: #e9ebec;
  border-bottom: 7px solid transparent;
  border-left: 8px solid crimson;
  border-top: 8px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tagbind {
  background-color: crimson;
  color: white;
}
.tagbind::after {
  border-left-color: crimson;
}
.active {
  color: #17a2b8;
}
.isArchive {
  color: #a5a9ad;
  border: none;
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 900;
}
.icon_right {
  margin-left: 1em;
}
.icon_left {
  margin-right: 1em;
}
.popup {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.item_pointer {
  cursor: pointer;
  width: 100%;
}
.spinner {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}
.buttonGroup {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buttonGroup_flexRow {
  display: flex;
  justify-content: space-around;
}
.buttonGroup_flexRow button {
  margin: 0 0.1em;
}
