/** Used to define container behavior: width, position: fixed etc... **/
.Toastify__toast-container {
  padding: 0;
}

/** Used to define the position of the ToastContainer **/
.Toastify__toast-container--top-left {
}
.Toastify__toast-container--top-center {
}
.Toastify__toast-container--top-right {
}
.Toastify__toast-container--bottom-left {
}
.Toastify__toast-container--bottom-center {
}
.Toastify__toast-container--bottom-right {
}

/** Classes for the displayed toast **/
.Toastify__toast {
  font-size: 0.8em;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  opacity: 0.8;
  .alertCustom {
    margin: 0;
  }
  span {
    font-size: 1.2em;
  }
  .alertCustom h6 {
    padding-left: 1em;
    line-height: 25px;
    font-weight: 500;
    margin: 0;
  }
  .alertCustom__title {
    padding: 0;
    display: flex;
  }
  .alertCustom__text {
    margin: 0;
    padding: 0 0.25em;
    color: #0c5460;
  }
}
.Toastify__toast--rtl {
}
.Toastify__toast--dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}
.Toastify__toast--default {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}
.Toastify__toast--info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
.Toastify__toast--success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
.Toastify__toast--warning {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.Toastify__toast--error {
}
.Toastify__toast-body {
}

/** Classes for the close button. Better use your own closeButton **/
.Toastify__close-button {
  color: #0c5460;
}
.Toastify__close-button--default {
}
.Toastify__close-button > svg {
}
.Toastify__close-button:hover,
.Toastify__close-button:focus {
}

/** Classes for the progress bar **/
.Toastify__progress-bar {
}
.Toastify__progress-bar--animated {
}
.Toastify__progress-bar--controlled {
}
.Toastify__progress-bar--rtl {
}
.Toastify__progress-bar--default {
}
.Toastify__progress-bar--dark {
}
