@font-face {
  font-family: 'Rosatom light';

  src: url('./font/RST45.ttf') format('woff2'), url('./font/RST45.ttf') format('truetype'),
  /* Только если нужна поддержка старых Android, иначе закомментировать */ url('./font/RST45.ttf')
  format('woff');
}
@font-face {
  font-family: 'Rosatom bold';

  src: url('./font/RST75.otf') format('woff2'), url('./font/RST75.otf') format('truetype'),
  /* Только если нужна поддержка старых Android, иначе закомментировать */ url('./font/RST75.otf')
  format('woff');
}
@font-face {
  font-family: 'Rosatom';
  font-weight: normal;
  font-style: normal;

  src: url('./font/RST55.ttf') format('woff2'), url('./font/RST55.ttf') format('truetype'),
  /* Только если нужна поддержка старых Android, иначе закомментировать */ url('./font/RST55.ttf')
  format('woff');
}

i {
  font-family: 'Rosatom light', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: 'Rosatom bold', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
//     'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
// }
body {
  font-family: 'Rosatom', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  position: relative;

  margin: 0;

  background-color: rgb(233, 235, 236);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.bg {
  background-color: rgb(233, 235, 236);
}
.form-control {
  background-color: var(--light);
}
.nowrap {
  white-space: nowrap;
}
.pointer {
  cursor: pointer;
}
.font-light {
  font-family: 'Rosatom light', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
}
.fcc {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}

.flex {
  display: flex;
}
.flex_column {
  flex-direction: column;
}
.flex_row {
  flex-direction: row;
}
.flex_between {
  justify-content: space-between;
}
.flex_end {
  justify-content: flex-end;
}
.flex_center {
  justify-content: center;
}
.align_items-center {
  position: fixed;
  top: 50%;
  left: 0;
}
.btn-primary {
  border-color: var(--blue);
  background-color: var(--blue);
}
.btn-link {
  font-weight: 400;

  text-decoration: none;

  color: var(--blue);
}
.btn-outline-primary {
  color: var(--blue);
  border-color: var(--blue);
}

.red {
  color: var(--red);
}
.focus {
  border: 1px solid var(--success);
}
.custom-control-label {
  cursor: pointer;
}
.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}
:root {
  --blue: #597ba5;
  --cyan: #17a2b8;
  --danger: #dc3545;
  --dark: #343a40;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --green: #28a745;
  --indigo: #6610f2;
  --info: #17a2b8;
  --light: #f8f9fa;
  --orange: #fd7e14;
  --pink: #e83e8c;
  --primary: #007bff;
  --purple: #6f42c1;
  --red: #dc3545;
  --secondary: #6c757d;
  --success: #28a745;
  --teal: #20c997;
  --warning: #ffc107;
  --white: #fff;
  --yellow: #ffc107;
}
